body {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.container {
  width: 300px;
  background-color: white;
  height: 450px;
  display: block;
  align-content: center;
  border-radius: 14px;
  box-shadow: 4px 10px 30px 1px hsla(216, 15%, 48%, 0.473);
  user-select: none;
}
.qrcode img {
  display: block;
  width: 250px;
  margin: 0 auto;
  border-radius: 6px;
}
.text {
  text-align: center;
  display: block;
  width: 250px;
  margin: 0 auto;
  font-family: Outfit;
}
